.banner
{
    width: 100%;
    padding-block: 1.5rem;
    overflow: hidden;

    & .scroller
    {
        width: 100%;
        overflow: hidden;
        padding-block: 1rem;

        & .rolling
        {
            display: flex;
            gap: 1.5rem;

            animation: rolling 2s linear infinite;
        }
    }

    & .bg-gradient-animate
    {
        background: linear-gradient(
            90deg,
            var(--snitap-joy-light) 0%,
            var(--snitap-sky-light) 100%
        );
        background-size: 400%;
        background-position: 0 50%;

        animation: bg-gradient 20s ease infinite;
    }
}

@keyframes rolling
{
    to
    {
        transform: translateX(-133px);
    }
}

@keyframes bg-gradient
{
    50%
    {
        background-position: 100% 50%;
    }
}

@media (width >= 80em)
{
    .banner
    {
        padding-block: 2.5rem;
    }
}