section.gallery
{
    width: 100%;
    max-width: 80rem;
    padding-top: 2.5rem;
    margin-inline: auto;

    & header
    {
        text-align: center;
    }

    & header span
    {
        font: 500 var(--text-sm)/1.5 var(--ff-base);
        text-transform: uppercase;
        display: block;
    }

    & header h2
    {
        margin: 0.5rem 2rem 0;
    }

    & img
    {
        width: 100%;
        height: auto;
        display: block;
    }

    & .content
    {
        padding: 2rem;
        display: grid;
        grid-template-areas:
        "A B B"
        "C C D";

        gap: 2rem;
    }

    & figure
    {
        position: relative;
        border-radius: 2.5rem;
        overflow: hidden;

        animation: image-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 300px;

        &[data-delay]
        {
            animation-range: 150px 350px;
        }

        & > img
        {
            height: 25rem;
            object-fit: cover;
            transition: scale 500ms;
        }

        &:hover
        {
            & > img
            {
                scale: 1.1;
            }

            & figcaption
            {
                transform: translateY(0);
            }
        }
        
        &:nth-child(1)
        {
            grid-area: A;
        }

        &:nth-child(2)
        {
            grid-area: B;
        }

        &:nth-child(3)
        {
            grid-area: C;
        }

        &:nth-child(4)
        {
            grid-area: D;
        }
    }

    & figcaption
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;

        font: 500 var(--text-sm)/1.6 var(--ff-base);
        color: white;

        position: absolute;
        bottom: 0;
        width: 100%;

        padding: 1.5rem 2rem;

        transform: translateY(100%);
        transition: transform 500ms;

        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 0.01%,
            rgba(0, 0, 0, 0.64) 100%
        );

        & > img
        {
            width: 2rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}

@keyframes image-appear
{
    from
    {
        transform: translateY(100%);
    }
}