header.top
{
    max-width: 22.5rem;
    width: 100%;
    padding: 1.25rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    img
    {
        width: 2rem;
        height: 2rem;
        display: block;

        transition: transform 300ms ease-out;
    }

    img[src*='Logo']:hover
    {
        transform: rotate(90deg);
    }

    img[src*='shopping-bag-01']:hover
    {
        transform: rotate(-30deg);
    }

    a
    {
        position: relative;
    }

    a span
    {
        font: 500 0.75rem/1.3 'Inter', sans-serif;

        position: absolute;
        top: -0.5rem;
        right: -0.5rem;

        background-color: var(--snitap-sun);

        width: 1.25rem;
        height: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 5rem;
    }
}

@media (width >= 80em)
{
    header.top
    {
        max-width: 80rem;
        padding-inline: 2rem;
    }
}