section.hero
{
    max-width: 22.5rem;
    width: 100%;
    padding: 1rem 1.5rem 3rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    overflow: hidden;
    
    & h1 div
    {
        display: inline-block;
        overflow: hidden;
        height: 2.5rem;
        width: min-content;
        vertical-align: bottom;
    }

    & h1 span:nth-child(1),
    & h1 span:nth-child(4)
    {
        color: var(--snitap-sky-mid);
    }

    & h1 span:nth-child(2)
    {
        color: var(--snitap-joy-mid);
    }

    & h1 span:nth-child(3)
    {
        color: var(--snitap-leaf-mid);
    }

    & h1 span
    {
        display: block;

        animation: slideUpMobile 6s infinite ease;
    }

    & .buttons
    {
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;
        gap: 1.5rem;
        margin-top: 3rem;

        & .button
        {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            border-radius: 5rem;

            &.buy
            {
                padding: 1.5rem 3rem;
                background-color: var(--snitap-sun);           
            }

            &.play span
            {
                display: flex;
                padding: 1.5rem;
                border-radius: 5rem;
                background-color: #FFFFFF;
            }
        }

        & .shadow
        {
            box-shadow: 0px 36px 15px rgba(0, 0, 0, 0.01),
            0px 20px 12px rgba(0, 0, 0, 0.05),
            0px 9px 9px rgba(0, 0, 0, 0.09),
            0px 2px 5px rgba(0, 0, 0, 0.1);
        }
    }

    & > div:nth-child(2)
    {
        display: block;
        width: 100%;
        max-width: 19.5rem;
        height: 19.5rem;

        & .content
        {
            width: 100%;
            height: 100%;
            position: relative;

            & img
            {
                position: absolute;
                width: 100%;
            }

            & img[src*="Ellipse"]
            {
                width: calc(295.38 / 312 * 100%);
                top: calc(8.31 / 312 * 100%);
                left: calc(8.31 / 312 * 100%);
            }

            & img[src*="patins"]
            {
                z-index: 1;
            }

            & img[src*="Stars 1"]
            {
                max-width: 3.503125rem;
                max-height: 2.86375rem;
                top: calc(94.41 / 312 * 100%);
                left: calc(5.11 / 312 * 100%);
                z-index: 0;
            }

            & img[src*="Stars 2"]
            {
                max-width: 1.598125rem;
                max-height: 2.3975rem;
                top: calc(172.7 / 312 * 100%);
                right: calc(1.28 / 312 * 100%);
                z-index: 0;
            }
        }
    }
}

@keyframes slideUpMobile
{
    0%,
    22%
    {
        transform: translateY(0);
    }

    23%
    {
        transform: translateY(calc(-2.5rem - 15px));
    }

    25%
    {
        transform: translateY(calc(-2.5rem + 10px));
    }

    27%
    {
        transform: translateY(calc(-2.5rem - 5px));
    }

    29%
    {
        transform: translateY(calc(-2.5rem + 5px));
    }

    33%,
    55%
    {
        transform: translateY(-2.5rem);
    }

    56%
    {
        transform: translateY(calc(-5rem - 15px));
    }

    58%
    {
        transform: translateY(calc(-5rem + 10px));
    }

    60%
    {
        transform: translateY(calc(-5rem - 5px));
    }

    62%
    {
        transform: translateY(calc(-5rem + 5px));
    }

    66%,
    88%
    {
        transform: translateY(-5rem);
    }

    89%
    {
        transform: translateY(calc(-7.5rem - 15px));
    }

    91%
    {
        transform: translateY(calc(-7.5rem + 10px));
    }

    93%
    {
        transform: translateY(calc(-7.5rem - 5px));
    }

    95%
    {
        transform: translateY(calc(-7.5rem + 5px));
    }

    100%
    {
        transform: translateY(-7.5rem);
    }
}

@media (width >= 80em)
{
    section.hero
    {
        max-width: 80rem;
        padding: 2.5rem 2rem;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;

        & h1
        {
            max-width: 43.5rem;
        }

        & h1 div
        {
            height: 5rem;
        }

        & h1 span
        {
            animation: slideUpDesktop 6s 2.6s infinite ease;
        }

        & .buttons
        {
            flex-direction: row;
            gap: 2rem;

            & .button
            {
                transition: scale 350ms;

                &.buy
                {
                    margin-bottom: 0.0625rem;
                }

                &.play
                {   
                    margin-block: 0.025rem 0.0375rem;
                }

                &:hover
                {
                    scale: 1.1;
                }
            }
        }

        & > div:nth-child(2)
        {
            max-width: 30.5rem;
            height: 30.5rem;

            & .content
            {
                & img[src*="Ellipse"]
                {
                    width: calc(462 / 488 * 100%);
                    top: calc(13 / 488 * 100%);
                    left: calc(13 / 488 * 100%);

                    transform: translateX(200%);
                    animation: slideIn 3s 200ms ease forwards;
                }

                & img[src*="patins"]
                {
                    transform: translateX(200%);
                    animation: slideIn 3s ease forwards;
                }

                & img[src*="Stars 1"]
                {
                    max-width: 5.5rem;
                    max-height: initial;
                    top: calc(148 / 488 * 100%);
                    left: calc(8 / 488 * 100%);

                    opacity: 0;
                    transform: translateX(400%);
                    animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
                }

                & img[src*="Stars 2"]
                {
                    max-width: 2.5rem;
                    max-height: initial;
                    top: calc(270 / 488 * 100%);
                    right: calc(2 / 488 * 100%);

                    transform: translateX(400%);
                    animation: slideIn 2s 800ms ease forwards;
                }
            }
        }
    }
}

@keyframes slideUpDesktop
{
    0%,
    22%
    {
        transform: translateY(0);
    }

    23%
    {
        transform: translateY(calc(-5rem - 15px));
    }

    25%
    {
        transform: translateY(calc(-5rem + 10px));
    }

    27%
    {
        transform: translateY(calc(-5rem - 5px));
    }

    29%
    {
        transform: translateY(calc(-5rem + 5px));
    }

    33%,
    55%
    {
        transform: translateY(-5rem);
    }

    56%
    {
        transform: translateY(calc(-10rem - 15px));
    }

    58%
    {
        transform: translateY(calc(-10rem + 10px));
    }

    60%
    {
        transform: translateY(calc(-10rem - 5px));
    }

    62%
    {
        transform: translateY(calc(-10rem + 5px));
    }

    66%,
    88%
    {
        transform: translateY(-10rem);
    }

    89%
    {
        transform: translateY(calc(-15rem - 15px));
    }

    91%
    {
        transform: translateY(calc(-15rem + 10px));
    }

    93%
    {
        transform: translateY(calc(-15rem - 5px));
    }

    95%
    {
        transform: translateY(calc(-15rem + 5px));
    }

    100%
    {
        transform: translateY(-15rem);
    }
}

@keyframes slideIn
{
    50%
    {
        transform: translateX(-20px);
    }

    100%
    {
        transform: translateX(0);
    }
}

@keyframes appear
{
    to
    {
        opacity: 1;
    }
}